<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>무글러브 게시판</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>글쓰기</h2>
        <table>
            <tr>
                <td>제목</td>
                <td><input class="form-control W100P" type="text"/></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea class="form-control" rows="10"></textarea></td>
            </tr>
        </table>

        <div style="text-align: right">
            <button type="button" class="btn btn-success" onclick="location.href='list.html'">
                등록
            </button>
            <button type="button" class="btn btn-info" onclick="location.href='list.html'">
                목록
            </button>
        </div>
    </div>
</body>
</html>