<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 완료</title>
</head>
<body>
<tr th:each="member : ${memberList}">
    <td>
        <span th:text="${member.SEQ_NO}"></span>
    </td>
    <td>
        <span th:text="${member.USER_ID}"></span>
    </td>
    <td>
        <span th:text="${member.PSSWD}"></span>
    </td>
    <td>
        <span th:text="${member.EMAIL}"></span>
    </td>
    <td>
        <span th:text="${member.NAME}"></span>
    </td>
</tr>
</body>
</html>