<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div class="container">
    <form action="/member/join" th:object="${member}" method="post" id="joinForm">
        <div class="form-group">
            <label for="USER_ID">사용자 아이디</label>
            <input th:field="*{USER_ID}" class="form-control"  type="text" placeholder="사용자 아이디">
            <input type="button" value="중복확인" />
        </div>
        <div class="form-group">
            <label for="PSSWD">Password</label>
            <input  type="password" th:field="*{PSSWD}" class="form-control"  placeholder="비밀번호">
        </div>
        <div class="form-group">
            <label for="NAME">이 름</label>
            <input th:field="*{NAME}" type="text" class="form-control" placeholder="이름">
        </div>
        <div class="form-group">
            <label for="EMAIL">Email</label>
            <input th:field="*{EMAIL}" type="email" class="form-control"  placeholder="이메일">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<script type="text/javascript">
    function checkValue() {
        var form = document.userInfo;

        if (!form.id.value) {
            alert("아이디를 입력하세요.");
            return false;
        }

        if (form.idDuplication.value != "idCheck") {
            alert("아이디 중복체크를 해주세요.");
            return false;
        }

        if (!form.password.value) {
            alert("비밀번호를 입력하세요.");
            return false;
        }

        // 비밀번호와 비밀번호 확인에 입력된 값이 동일한지 확인
        if (form.password.value != form.passwordcheck.value) {
            alert("비밀번호를 동일하게 입력하세요.");
            return false;
        }

        if (!form.name.value) {
            alert("이름을 입력하세요.");
            return false;
        }

        if (!form.birthyy.value) {
            alert("년도를 입력하세요.");
            return false;
        }

        if (isNaN(form.birthyy.value)) {
            alert("년도는 숫자만 입력가능합니다.");
            return false;
        }

        if (form.birthmm.value == "00") {
            alert("월을 선택하세요.");
            return false;
        }

        if (!form.birthdd.value) {
            alert("날짜를 입력하세요.");
            return false;
        }

        if (isNaN(form.birthdd.value)) {
            alert("날짜는 숫자만 입력가능합니다.");
            return false;
        }

        if (!form.mail1.value) {
            alert("메일 주소를 입력하세요.");
            return false;
        }

        if (!form.phone.value) {
            alert("전화번호를 입력하세요.");
            return false;
        }

        if (isNaN(form.phone.value)) {
            alert("전화번호는 - 제외한 숫자만 입력해주세요.");
            return false;
        }

        if (!form.address.value) {
            alert("주소를 입력하세요.");
            return false;
        }
    }

</script>
</body>
</html>